<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.accountbook">

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="精理财"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainAccountActivity"
            android:label="精理财"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".account.AddAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".financial.AddFinancialManagement"
            android:screenOrientation="portrait" />
        <activity
            android:name=".financial.FinancialActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".user.AllUsersActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".bill.BillActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".account.UserAccountActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".supercalendar.SyllabusActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".supercalendar.SyllabusActivity2"
            android:screenOrientation="portrait"/>
    </application>

</manifest>